@model Bank.WebApplication.ViewModels.BranchVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <h4>BranchVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Branch", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdSucursal)
        @Html.HiddenFor(model => model.IdBanco)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index", new { idBanco = Model.IdBanco })
        </div>
    }
</div>
